.env
node_modules
authLOGICS.js

dist

*.json
*.txt

!tmp/Employee/All
!tmp/Employee/2015
!tmp/Employee/2016
!tmp/Employee/2017
!tmp/Employee/2018
!tmp/Employee/2019
!tmp/Employee/2020

!tmp/Injuries/All
!tmp/Injuries/2015
!tmp/Injuries/2016
!tmp/Injuries/2017
!tmp/Injuries/2018
!tmp/Injuries/2019
!tmp/Injuries/2020

!tmp/MasterIncident/All
!tmp/MasterIncident/2015
!tmp/MasterIncident/2016
!tmp/MasterIncident/2017
!tmp/MasterIncident/2018
!tmp/MasterIncident/2019
!tmp/MasterIncident/2020

!tmp/NearMiss/All
!tmp/NearMiss/2015
!tmp/NearMiss/2016
!tmp/NearMiss/2017
!tmp/NearMiss/2018
!tmp/NearMiss/2019
!tmp/NearMiss/2020

